html,body {
  height:100%;
  overflow-x: hidden;
  
  
}
#center {
  position:relative;
  text-align:center;
  bottom:50%;
  left:50%;
  transform: translate(-50%, -50%);
}


.a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 30px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: red;
  border: 5px double white;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;

}

.a span{
  position: relative;
  z-index: 2;
}
.a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: red;
  transition: all .35s;
}

.a:hover{
  color:white;
  border:5px double red;
}
.a:hover:after{
  width: 100%;
}
#page-container {
  position: relative;
  min-height:30px;
}
#content-wrap {
  padding-bottom: 10rem;
}
#footer {
  position: absolute;
  bottom:0px;
  margin-bottom: auto;
  width: 100%;
  height: 5rem;

}
.box{
  position:relative;

}
.img-title{
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 40%;
  letter-spacing: 3px;
}


@media screen and (min-width: 601px) {
  .example {
    font-size: 70px;
  }
}

@media screen and (max-width: 600px) {
  .example {
    font-size: 30px;
  }
}
.navbar-nav > li{
  padding-left:50px;

}
#row1{
  padding-top:30px;
  
}
.navbar-nav li a{
  color: black!important;
  }
.navbar-nav li a:hover{
  color: grey !important;
  }

.bg-company-red {
  background-color: white !important;
}
#bd {
  background-color:black;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
#fontH{
  color:black;

  font-size: 26px;
  font-weight: bold;
}
#fontF{
  color:black;
  font-size: 14px;
  text-align: center;
 
}
#fontQ{
  color:black;
  text-align: center;
  text-decoration: none;
}
#fontA{
  background-color: black;
  color: white;
  padding:10px 35px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}


h5{
  text-align: center;
  font-size: small;
  font-weight: unset;
  
}
h4{
  text-align: center;
  font-size: medium;
  font-weight: unset;
  padding-top: 50px;
  margin-bottom: 0%;
  
}
.container_foto:hover {
	cursor: pointer;
  
}
.container_foto img {
	width: 100%;
	top: 0;
	left: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.ver_mas {
  opacity: 0;
  -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;


}

/*hovers*/

.container_foto:hover img {
	transform: scale(1.1);
  opacity: 0.5;
  

}


.container_foto:hover .ver_mas {
	opacity: 1;

}
