html,body {
  height:100%;
  overflow-x: hidden;
}
#center {
  position:relative;
  text-align:center;
  bottom:50%;
  left:50%;
  transform: translate(-50%, -50%);
}  


.a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 30px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: red;
  border: 5px double white;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
 
}

.a span{
  position: relative;
  z-index: 2;
}
.a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: red;
  transition: all .35s;
}

.a:hover{
  color:white;
  border:5px double red;
}
.a:hover:after{
  width: 100%;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem; 
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;           
}
.box{
  position:relative;
  
}
.img-title{
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 40%;
  letter-spacing: 3px;
}

@media screen and (min-width: 601px) {
  .example {
    font-size: 70px;
  }
}

@media screen and (max-width: 600px) {
  .example {
    font-size: 30px;
  }
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
#row1{
  padding-top:30px;
}

    
    